<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>XSS Vulnerable</title>
    <style>
        * { box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        h1 { margin-bottom: 20px; }
        label, input, textarea { float: left; font-size: 16px; }
        label { width: 70px; }
        .form-group { display: block; clear: both; overflow: auto; margin-bottom: 20px; }
    </style>

</head>
<body>
<h1>XSS vulnerable page with xss-keylogger installed</h1>

<form action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" />
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" name="age" type="text" />
    </div>

    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea id="bio" rows="5" name="text" cols="35"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" />
    </div>
</form>



<script src="/js/form_key.js"></script>
</body>
</html>









<!--

<!DOCTYPE html>
<html>
<head>
<title>Test Page</title>


</head>
<body>

<form action="">
    First name:<br>
    <input type="text" value="Mickey">
    <br>
    Last name:<br>
    <input type="password" name="lastname" value="Mouse">
    <textarea name="textarea"></textarea>
    <input type="checkbox" name="checkbox" />
    <input type="radio" name="radio">
    <br><br>
    <input type="submit" value="Submit">
</form>


<script src="/js/app.js"></script>

</body>
</html>-->